.section_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 100px;
  height: 100%;
  width: 80vw;
  height: 80vh;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    margin-top: 25px;
    padding-top: 60px;
    width: 90vw;
  }
}
.container {
  text-decoration: none;
  background-color: #ddd234;
  width: 100px;
  height: 25px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
  &:hover {
    transform: scale(1.2);
    background-color: #148f7a;
    color: #24db1f;
  }
  @media (min-width: 768px) {
    width: 180px;
    height: 40px;
    border-radius: 30%;
    font-size: 25px;
    margin-bottom: 15px;
  }
}
.back {
  color: #074b40;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 800;
  text-align: center;
}
.details_img {
  height: 30vw;
  margin-bottom: 20px;
}
.li_name-details {
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #20a737;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.ul_details {
  width: 45vw;

  background-color: #ddd234;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 768px) {
    width: 40vw;
  }
  @media (min-width: 1200px) {
    width: 650px;
  }
}
.list_details {
  padding-top: 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 700;
  color: #756951;
  text-align: center;
  font-size: 13px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.title {
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 800;
  color: #074b40;
  font-size: 15px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
