body {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, black, blue 150%);
  background-size: contain;
  background-origin: border-box;
}
@keyframes title {
  0% {
    transform: translate3d(1000px, -150px, 0px);
  }
  50% {
    transform: scale3d(1.3, 1.3, 1.3);
  }
}
.header_title {
  display: block;
  margin: auto;
  width: 80vw;
  animation: 2s 1 title;
}
